.nav-underline .nav-link {
    color: #B7B7B7;
    font-size: 16px;
    padding: 4px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 700;
    border-bottom-color: currentcolor !important;
    border-bottom-width: 3px !important;
  }
.nav-underline .nav-link:hover {
  color: rgb(126, 125, 125);
  font-size: 16px;
  padding: 4px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-weight: 700;
  border-bottom-color: currentcolor !important;
  border-bottom-width: 3px !important;
}
.nav-underline .nav-link.active{
  padding: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #1E2D5F !important; 
  border-bottom-color: currentcolor;
  border-bottom-width: 3px;
}
.nav-underline {
  column-gap: 0 !important;
}
.custom-nav-end {
  flex-grow: 1;
  border-bottom: solid;
  border-bottom-color: #B7B7B7 ;
  border-bottom-width: 3px;
}
.tab-con-margin {
  margin-left: 0 !important;
  margin-top: 25px !important;
}
.mp-0 {
  margin: 0;
  padding: 0  !important;
}

#custom-plus {
  color: #FF6220;
  font-size: 14px;
  margin-right: 8px;
}
.custom-span-2 {
  height: 100%;
  
  color: #1cabe9;
  font-weight: bold;
  font-size: 16px;
}
.custom-button-1 {
  background-color: white !important;
  border: none !important;
  margin: 10px !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}


.view {
  border: 1px solid #000;
}


.App {
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  font-weight: 700;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #1E2D5F;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
